{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <div>
            {{ form_label(form.uri, 'Uri') }}
            {{ form_widget(form.uri) }}
        </div>
        <div>
            {{ form_label(form.encodedUri, 'Alias') }}
            {{ form_widget(form.encodedUri) }}
        </div>
        <div>
            <input type="submit" value="Create">
        </div>
    {{ form_end(form) }}

{% endblock %}