{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(alias) }}
    {{ dump(link) }}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Uri</th>
                <th>Alias</th>
                {#<th>EncodedUri</th>#}
                <th>CreatedAt</th>
                <th>updatedAt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {#<td>{{ alias.id }}</td>#}
                <td>
                    {#{{ alias.link.uri }}#}
                </td>
                {#<td>{{ alias.link }}</td>#}
                {#<td>{{ link.uri }}</td>#}
                {#<td>{{ alias.alias }}</td>#}
                {#<td>{{ link.encodedUri }}</td>#}
                {#<td>{{ alias.createdAt|date("j.n.Y G:i:s") }}</td>#}
                {#<td>{{ alias.updatedAt|date("j.n.Y G:i:s") }}</td>#}
            </tr>
        </tbody>
    </table>
{% endblock %}