{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Uri</th>
                {#<th>Alias</th>#}
                {#<th>EncodedUri</th>#}
                <th>CreatedAt</th>
                <th>updatedAt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.uri }}</td>
                {#<td>{{ link.alias }}</td>#}
                {#<td>{{ link.encodedUri }}</td>#}
                <td>{{ link.createdAt|date("j.n.Y G:i:s") }}</td>
                <td>{{ link.updatedAt|date("j.n.Y G:i:s") }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}